.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #111111;
  gap: 0.5rem;
}

.card__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.card__content {
  display: flex;
}
